{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
<html>
<main>
    <body>
		<h1>{{data}}</h1>
        <div class="bix">
			<form method="POST" class="bub">
				<h1 class="maintitle">fif_issue</h1>
				{% csrf_token %}
				<p class="tetx">Апартаменты</p>
				{{form.apart}}
				<p class="tetx">Квартиры</p>
				{{form.flats}}
				<p class="tetx">Офисы</p>
				{{form.office}}
				<button type="submit"> Submit </button>
			</form>
        </div>
		<img src="{% static 'images/information-button.png' %}" class="info">
    </body>
</main>
</html>