{% load static %}
<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css">
<html>
<main>
    <body>
		<div class="quads">
			<div class="textbox box1">{{data.0.0.1}} ТС/ЧАС</div>
			<div class="textbox box2">{{data.0.2.1}} ТС/ЧАС</div>
			<div class="textbox box3">{{data.0.1.1}} ТС/ЧАС</div>
			</div>
			<div class="bali">
			<img src="{% static 'images/3.png' %}" class="balls ball1">
			<img src="{% static 'images/block.png' %}" class="balls ball2">
			<img src="{% static 'images/8.png' %}" class="balls ball3">
			</div>
        <div class="bix">
				<div class="bub">
				<form method="POST">
				<h1 class="maintitle">project_fif</h1>
				{% csrf_token %}
				<p class="tetx">Апартаменты</p>
				{{form.apart}}
				<p class="tetx">Квартиры</p>
				{{form.flats}}
				<p class="tetx">Офисы</p>
				{{form.office}}
				<button type="submit"> Submit </button>
				<h2 class="infotext">Информация</h2>
				<p>Общий поток: {{data.4}} чел/час</p>
				<p>Общественный транспорт: {{data.3}} чел/час</p>
				<p>Индивидуальный транспорт: {{data.2}} тс/час

				<p><b>Загруженность станций</b></p>
				<p>
				{% if not data.1.2.2 %}
					<i class="fa-solid fa-exclamation" style="color:red; width:20px; height:20px; vertical-align:middle; margin-right:0px;"></i>
				{% endif %}
				Серп и Молот - {{ data.1.2.1 }} чел/час
				</p>
				<p>
				{% if not data.1.1.2 %}
					<i class="fa-solid fa-exclamation" style="color:red; width:20px; height:20px; vertical-align:middle; margin-right:2px;"></i>
				{% endif %}
				Римская - {{ data.1.1.1 }} чел/час
				</p>
				<p>
				{% if not data.1.0.2 %}
					<i class="fa-solid fa-exclamation" style="color:red; width:20px; height:20px; vertical-align:middle; margin-right:2px;"></i>
				{% endif %}
				Площадь Ильича - {{ data.1.0.1 }} чел/час
				</p>					

				<p><b>Загруженность улиц</b></p>
				<p>Гжельский переулок - {{data.0.0.1}} тс/час ({{data.0.0.2}} балла)</p>
				<p>Золоторожский вал - {{data.0.1.1}} тс/час ({{data.0.1.2}} баллов)</p>
				<p>ул. Сергея Радонежского - {{data.0.2.1}} тс/час ({{data.0.2.2}} баллов)</p>
			</form> 

			</div>
		</div>
    </body>
</main>
</html>