{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
<html>
<main>
    <body>
        <div class="bix">
			<form method="POST">
				<h1 class="maintitle">загаловок</h1>
				{% csrf_token %}
				{{form.apart}}
				{{form.flats}}
				{{form.office}}
				<button type="submit"> Submit </button>
			</form>
        </div>
        <div class="infobutt">
			<img src="{% static 'images/information-button.png' %}" class="info1">
        </div>
    </body>
</main>
</html>