body{
    background-image: url('maphik.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: #fdfcfc;
  }
.bix {
    flex-direction: column;
    margin-left: 1100px;
    flex-wrap: nowrap;
    text-align: center;
}
.tetx {

}
.input-data {
    text-align: center;
}
img{
    height: 1%;
    width: 1%;
}
.info1{
    margin-top: 36%;
    margin-left: 35.2%;
}
.maintitle{
    margin-top: 45px;
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 52px;
font-weight: 900;
line-height: 63px;
letter-spacing: 0%;
text-align: center;
}